body {
    margin: 0;
    padding: 0;
}

header {
    padding: 5px;
    box-shadow: 0 4px 2px -2px lightgray;
    align-items: center;
    display: flex;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
}


.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.sidebar {
    width: 25%;
    border-right: 2px solid lightgray;
}

.sidebar ul {
    list-style-type: none;
    border-right: none;
    border-left: none;
    padding: 0;
    margin: 0;
}

.sidebar h3 {
    margin: 0;
    padding: 10px;
    background-color: lightgray;
    border-bottom: 2px solid #eebe46;
}

.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border-left: 5px solid red;
    border-bottom: 1px solid lightgray;
    color: black;
}

.main {
    width: 100%;
    flex-grow: 1;
    padding: 10px;
    background-color: lightgray;
}

h1 {
    margin: 0;
}